html {
    background-color: #f9f6f5;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 35px;
    color:rgb(15, 15, 15);
    border-top: 10px solid black;
}

h1{
    font-size: 3.3em;
    margin: 0;
}

p{
    line-height: 1.2em;
}

#blog {
    border-top: 2px solid black;
    color: black;
    padding: 5px;
}

.Post {
    border-bottom: 1px solid black;
}

img {
    float: right;
    width: 10%;
    height: 10%;
    padding-right: 400px;
}

.author {
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 500;
}

.datetime {
    font-weight: 500;
}

.picture-and-content {
    width: 800px;
    margin: 8px;
    padding-right: 50px;
}

